In [1]:
import sys

sys.path.append("C:\\Users\\lauth\\OneDrive\\Desktop\\open_ai_assistant_v2")

from src.tools.vanna.vanna_tool import VannaTool

vn = VannaTool()

In [2]:
from src.utils.excel_data_reader import get_excel_data

archivo_excel = "../../assets/Diccionario_datos.xlsx"
columnas_hoja_2 = ["ddl", "about_variables", "about_database", "questions", "answers"]
data = get_excel_data(archivo_excel, columnas_hoja_2, "Vanna_info")

In [4]:
# Para alimentar la db

# for ddl in data["ddl"]:
#     vn.feed_ddl(ddl=ddl)

# for documentation in data["about_variables"]:
#     vn.feed_documentation(documentation=documentation)

# for documentation in data["about_database"]:
#     vn.feed_documentation(documentation=documentation)

# for example in data["examples"]:
#     q = example["question"]
#     sql = example["answer"]
#     vn.feed_examples(question=q, sql=sql)

In [ ]:
# Para borrar todos los datos de la db
# vn.remove_all_data()

In [ ]:
training_data = vn.get_training_data()
print(training_data)

In [1]:
question = "The last requirement user is asking for is the average temperature for the measurement system with the Tag 546899GGIE"
generated_sql = vn.generate_sql(question)
print(generated_sql)

NameError: name 'vn' is not defined

In [4]:
res = vn.run_sql(generated_sql)
print(res)

      Id                   Nombre                      Tag
0      1         EMED-3138.11-128         EMED-3138.11-128
1      2         EMED-3138.12-050         EMED-3138.12-050
2      3         EMED-3138.12-052         EMED-3138.12-052
3      4         EMED-3138.12-065         EMED-3138.12-065
4      5         EMED-3138.12-105         EMED-3138.12-105
..   ...                      ...                      ...
145  146      TANQ-3141.03-218_OP      TANQ-3141.03-218_OP
146  147      TANQ-3141.03-206_OP      TANQ-3141.03-206_OP
147  148      TANQ-3138.04-202_OP      TANQ-3138.04-202_OP
148  149  TI-TQ-3138.11-002(Meio)  TI-TQ-3138.11-002(Meio)
149  150                 EMED-117                 EMED-117

[150 rows x 3 columns]

C:\Users\lauth\OneDrive\Desktop\open_ai_assistant_v2\src\tools\vanna\vanna_tool.py:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql, self.conn)